body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
  background: #f5f8f9;
  color: white;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-evenly;
  gap: 18em;
  border-bottom-right-radius: 6em;
  width: 50%;
  height: 30rem;
  background: #f5f8f9;
}

header section:nth-child(1) {
  text-align: center;
  background: rgb(86, 185, 190);
  border-bottom-right-radius: 4em;
}

header img {
  width: 5em;
  height: 5em;
  border-radius: 1em;
  margin: 1em 1em;
}

.logo {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
h1 {
  text-shadow: 2px 4px gray;
  font-size: 3em;
  font-weight: bold;
  width: 10em;
}

/* banner css section  */

.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 25em;
  margin-top: -6em;
  margin-right: 14em;
  margin-left: -10em;
  padding: 6em;
}

.card {
  width: 18em;
  font-size: 12px;
  background: rgb(224, 255, 199);
  color: #003b3e;
}

.card h2 {
  align-self: flex-end;
}
.card_1 {
  width: 5em;
  height: 5em;
  padding: 5em 5em;
  border-radius: 20em;
  text-align: center;
}
.card_3 {
  border: 0px solid #207b80;
  border-radius: 2em;
  background: rgb(224, 255, 199);
  height: 10em;
  color: #003b3e;
  width: 28em;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}
.card_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card_2 {
  height: 15em;
  color: #003b3e;
  width: 12em;
  border-radius: 1em;
  background: rgb(224, 255, 199);
  box-shadow: px 4px 8px rgba(128, 128, 128, 0.14);
}

.card_4 {
  border-radius: 1em;
  background: #ffffff;
}

.card_5 {
  border-radius: 1em;
  background: #ffffff;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4em auto;
}
main {
  background: #003b3e;
  height: 50em;
}
.assign {
  font-family: "Roboto", serif;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px solid;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 20em;
  border-radius: 0.5em;
  height: 17em;
  background-color: rgba(128, 128, 128, 0.1);
  margin: 1em auto;
}

@keyframes rotate {
  from {
    transform: none;
  }
  50%,
  to {
    transform: rotateY(360deg);
  }
}
.assign img {
  width: 5em;
  height: 5em;
  border: 1em;
  border-radius: 1em;
}

.assign img:hover {
  border: 3px solid rgb(22, 21, 21);
  animation: enlarge 3s both;
}

@keyframes enlarge {
  from {
    transform: none;
  }
  50%,
  to {
    transform: scale(120%);
  }
}

/* css media query for tablet sizes */

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    background: #f5f8f9;
    color: white;
    text-align: center;
  }

  header section:nth-child(1) {
    text-align: center;
    background: rgb(86, 185, 190);
    width: 70em;
  }

  header section:nth-child(2) {
    display: none;
  }
  header img {
    width: 5em;
    height: 5em;
    border-radius: 1em;
    margin: 1em 1em;
  }

  .logo {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  h1 {
    text-shadow: 2px 4px gray;
    font-size: 3em;
    font-weight: bold;
    width: 10em;
  }

  /* banner css section  */

  .container {
    display: flex;
    flex-direction: column;
  }
  main {
    background: #003b3e;
    height: 70em;
    width: 100%;
  }
  .assign {
    font-family: "Roboto", serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 20em;
    border-radius: 0.5em;
    height: 17em;
    background-color: rgba(128, 128, 128, 0.1);
    margin: 1em auto;
  }

  @keyframes rotate {
    from {
      transform: none;
    }
    50%,
    to {
      transform: rotateY(360deg);
    }
  }
  .assign img {
    width: 5em;
    height: 5em;
    border: 1em;
    border-radius: 1em;
  }

  .assign img:hover {
    border: 3px solid rgb(22, 21, 21);
    animation: enlarge 3s both;
  }

  @keyframes enlarge {
    from {
      transform: none;
    }
    50%,
    to {
      transform: scale(120%);
    }
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    background: #f5f8f9;
    color: white;
    text-align: center;
  }

  header section:nth-child(1) {
    text-align: center;
    background: rgb(86, 185, 190);
    width: 70em;
  }

  header section:nth-child(2) {
    display: none;
  }
  header img {
    width: 5em;
    height: 5em;
    border-radius: 1em;
    margin: 1em 1em;
  }

  .logo {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  h1 {
    text-shadow: 2px 4px gray;
    font-size: 3em;
    font-weight: bold;
    width: 10em;
  }

  /* banner css section  */

  .container {
    display: flex;
    flex-direction: column;
  }
  main {
    background: #003b3e;
    height: 70em;
    width: 100%;
  }
  .assign {
    font-family: "Roboto", serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 20em;
    border-radius: 0.5em;
    height: 17em;
    background-color: rgba(128, 128, 128, 0.1);
    margin: 1em auto;
  }

  @keyframes rotate {
    from {
      transform: none;
    }
    50%,
    to {
      transform: rotateY(360deg);
    }
  }
  .assign img {
    width: 5em;
    height: 5em;
    border: 1em;
    border-radius: 1em;
  }

  .assign img:hover {
    border: 3px solid rgb(22, 21, 21);
    animation: enlarge 3s both;
  }

  @keyframes enlarge {
    from {
      transform: none;
    }
    50%,
    to {
      transform: scale(120%);
    }
  }
}




/* media query for small phone sizes  */



@media (max-width: 450px) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
    background: #f5f8f9;
    color: white;
    text-align: center;
  }

  header section:nth-child(1) {
    text-align: center;
    background: rgb(86, 185, 190);
    width: 80em;
  }

  header section:nth-child(2) {
    display: none;
  }
  header img {
    width: 5em;
    height: 5em;
    border-radius: 1em;
    margin: 1em 1em;
  }

  .logo {
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  h1 {
    text-shadow: 2px 4px gray;
    font-size: 1em;
    font-weight: bold;
  }

  /* banner css section  */

  .container {
    display: flex;
    flex-direction: column;
  }
  main {
    background: #003b3e;
    height: 70em;
    width: 100%;
  }
  .assign {
    font-family: "Roboto", serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 20em;
    border-radius: 0.5em;
    height: 17em;
    background-color: rgba(128, 128, 128, 0.1);
    margin: 1em auto;
  }

  @keyframes rotate {
    from {
      transform: none;
    }
    50%,
    to {
      transform: rotateY(360deg);
    }
  }
  .assign img {
    width: 5em;
    height: 5em;
    border: 1em;
    border-radius: 1em;
  }

  .assign img:hover {
    border: 3px solid rgb(22, 21, 21);
    animation: enlarge 3s both;
  }
  .instru-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  @keyframes enlarge {
    from {
      transform: none;
    }
    50%,
    to {
      transform: scale(120%);
    }
  }
}
