* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(208, 238, 208);
}
.header_two {
  display: none;
}
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  width: 20rem;
  margin: 2em auto;
}
header p {
  font-size: 0.9rem;
}

h1 {
  font-weight: bold;
  font-size: 1.4em;
}
form {
  display: flex;
  flex-direction: column;
  width: 25em;
  margin: 5em auto;
  background: #f7f3f3;
  max-width: 17rem;
  border-radius: 15px;
}
.form_container {
  background: #f7f3f3;
  width: 100%;

  background: #f7f3f3;
  max-width: 25rem;
  margin: 5em auto;
  padding: 3em;
  border-radius: 15px;
}

form label,
form button {
  margin: 0.7em auto;
}
form div {
  margin: 0.7em auto;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
form input,
form select {
  width: 15em;
  height: 5em;
  border-radius: 15px;
  border: none;

  font-size: 1em;
}
form button {
  width: 18em;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  height: auto;
  background: rgb(148, 224, 235);
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
  }
  .header_one {
    display: none;
  }
  .header_two {
    display: block;
    width: 40em;
  }
  header p {
    font-size: 1em;
  }

  h1 {
    font-weight: bold;
    font-size: 3em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f7f3f3;
    max-width: 120em;
    padding: 5em;
    border-radius: 15px;
    align-self: flex-start;
    margin-right: 5em;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  form label,
  form button {
    margin: 0.7em auto;
  }
  form div {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: 15em;
    margin: 1em auto;
  }
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  form input,
  form select {
    width: 15em;
    height: 3.5em;
    border-radius: 10px;
    border: none;
    padding-left: 0.3em;
    font-size: 1em;
  }
  form input:focus {
    outline-width: 0;
  }
  form button {
    width: 105em;
    height: 5em;
    padding: 1.5em;
    border-radius: 10px;
    border: none;
    height: auto;
    background: rgb(148, 224, 235);
  }
  .activity_level select {
    width: 30em;
    height: 3em;
    margin: 0 auto;
  }
  .password input {
    width: 30em;
    height: 3em;
  }
}
